version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily" # Check for updates daily
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "jest"
        versions: ["<29.1.0"]
      - dependency-name: "eslint"
        versions: ["<8.0.0"]
      - dependency-name: "lerna"
        versions: ["<7.3.1"]

  - package-ecosystem: "github-actions"
    directory: "/" # Location of GitHub Actions workflows
    schedule:
      interval: "daily" # Check for updates daily
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 10
