{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    },
    "import/resolver": {
      "node": {
        "paths": [
          "packages/"
        ],
        "extensions": [
          ".ts"
        ]
      },
      "typescript": {
        "alwaysTryTypes": true,
        "project": [
          "packages/*/tsconfig.json",
          "packages/di/*/tsconfig.json",
          "packages/doubles/*/tsconfig.json",
          "packages/types/*/tsconfig.json"
        ]
      }
    }
  },
  "plugins": [
    "prettier",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "project": [
      "./tsconfig.json"
    ]
  },
  "rules": {
    "no-useless-constructor": "off",
    "react/forbid-prop-types": 0,
    "no-unused-expressions": 0,
    "one-var": 0,
    "no-underscore-dangle": [
      0,
      {
        "allow": []
      }
    ],
    "global-require": 0,
    "new-cap": "off",
    "@typescript-eslint/no-unsafe-declaration-merging": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "import/extensions": 0,
    "@typescript-eslint/camelcase": 0,
    "camelcase": "off",
    "consistent-return": 0,
    "import/prefer-default-export": 0,
    "lines-between-class-members": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [],
        "optionalDependencies": false,
        "peerDependencies": false,
        "packageDir": "./"
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "disallowTypeAnnotations": false
      }
    ]
  },
  "env": {
    "node": true,
    "jest": true
  }
}
